packages:
  yum:
    git: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/001_install_kakasi.sh":
    mode: '000755'
    owner: root
    group: root
    content: |
      if [ ! -e /tmp/kakasi-2.3.6 ]; then
        cd /tmp/
        wget http://kakasi.namazu.org/stable/kakasi-2.3.6.tar.gz

        gzip -dc kakasi-2.3.6.tar.gz | tar xvf -

        cd kakasi-2.3.6

        ./configure
        make
        sudo make install
      fi

      if ! grep 'usr/local/lib' -rl /etc/ld.so.conf >/dev/null; then
        echo '/usr/local/lib' >> /etc/ld.so.conf
        ldconfig
      fi
