option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: true
    SSLCertificateArns: arn:aws:acm:ap-northeast-1:766816810352:certificate/dc070015-0022-4e09-99ea-5808d026cbaa
    Protocol: HTTPS

  aws:elasticbeanstalk:environment:process:https:
    Port: 80
    Protocol: HTTP
    StickinessEnabled: true
    HealthCheckPath: /healthcheck.html
    HealthCheckTimeout: 5 # 30
    HealthCheckInterval: 20 # 60
    MatcherHTTPCode: 200

  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: true
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:http:
    Port: 81
    Protocol: HTTP
    HealthCheckPath: /healthcheck.html
    HealthCheckTimeout: 5 # 30
    HealthCheckInterval: 20 # 60
    HealthyThresholdCount: 2
    MatcherHTTPCode: 301
