container_commands:
  10-download_assets:
    command: sudo aws s3 cp s3://prod-super-youtuber/public/assets/ public/assets/ --recursive
  11-remove_old_manifest:
    command: ls -1t public/assets/.sprockets-manifest-*.json | awk 'NR > 1 {print}' | xargs -r sudo rm
  12-refresh_sitemap:
    command: bin/rake sitemap:refresh:no_ping
