files:
    "/etc/cron.d/superyoutubercron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 13 * * * root /usr/local/bin/update_latest_published_at.sh
            0 17 * * * root /usr/local/bin/check_deleted_movies.sh

    "/usr/local/bin/update_latest_published_at.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            . /opt/elasticbeanstalk/support/envvars
            cd /var/app/current
            /opt/rubies/ruby-2.5.0/bin/bundle exec /opt/rubies/ruby-2.5.0/bin/rails runner "VideoArtist.update_latest_published_at" >> /var/log/cron-error.log 2>&1

            exit 0

    "/usr/local/bin/check_deleted_movies.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            . /opt/elasticbeanstalk/support/envvars
            cd /var/app/current
            /opt/rubies/ruby-2.5.0/bin/bundle exec /opt/rubies/ruby-2.5.0/bin/rails runner "Movie.check_deleted_movies" >> /var/log/cron-error.log 2>&1

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
