$color-collection: (
  black: (
    dark: #000,
    base: #222
  ),
  gray: (
    dark: #707070,
    base: #a0a0a0,
    light: #e0e0e0,
    exlight: #F7F7F7
  ),
  white: (
    base: #fff
  ),

  red: (
    base: #E01B14
  ),
  blue: (
    base: #85D0F4
  ),
  yellow: (
    base: #FFF455
  ),
  pink: (
    base: #F6BFD7
  )
);
