$font-collection: (
  lll: ( size: 28px, weight: bold ),
  ll:  ( size: 18px, weight: bold ),
  lb:  ( size: 14px, weight: bold ),
  l:   ( size: 14px, weight: normal ),
  mb:  ( size: 12px, weight: bold ),
  m:   ( size: 12px, weight: normal ),
  sb:  ( size: 10px, weight: bold ),
  s:   ( size: 10px, weight: normal ),
  ssb: ( size:  8px, weight: bold ),
  ss:  ( size:  8px, weight: normal )
);
