- if browser.mobile?
  javascript:
    var nend_params = {"media":56198,"site":303739,"spot":901354,"type":2,"oriented":1};
  script src="https://js1.nend.net/js/nendAdLoader.js" type="text/javascript"
