.account {
  &__inner {
    display: flex;
    align-items: center;
    @include screen-size(sm) {
      display: block;
    }
  }
  &__thumbnail {
    overflow: hidden;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border: 1px solid color(gray, light);
    border-radius: 50%;
    img {
      width: 100%;
    }
    @include screen-size(sm) {
      margin-right: auto;
      margin-left: auto;
      width: 60%;
      height: auto;
      margin-bottom: 10px;
    }
  }
  &__text {
    flex: 1;
  }
  &__name {
    margin-bottom: 5px;
    @include font(lb);
    @include screen-size(sm) {
      text-align: center;
    }
  }
  &__comment {
    @include font(s);
  }
}