.footer {
  background: color(gray, exlight);
  &__inner {
    padding: 30px 30px;
    text-align: center;
    border-top: 1px solid color(gray, light);
    
  }
  &__logo {
    width: 134px;
    margin: 0 auto 20px;
    img {
      width: 100%;
    }
  }
  &__nav {
    margin-bottom: 20px;
    >li {
      display: inline-block;
      margin: 2px 7px;
      @include font(s);
    }
  }
  &__language {
    margin-bottom: 20px;
    &:before {
      content: '';
      display: block;
      height: 1px;
      width: 100px;
      margin: 0 auto 15px;
      background: color(gray, light);
    }
    >li {
      display: inline-block;
      margin: 2px 7px;
      @include font(ss);
    }
  }
  &__social {
    margin-bottom: 15px;
  }
  &__copyright {
    color: color(gray);
    @include font(ss);
  }
}