.header {
  $self: &;
  position: relative;
  background: color(white);
  &__inner {
    position: relative;
    @include screen-size(lg) {
      display: flex;
      align-items: center;
    }
  }
  &__logo-line {
    display: flex;
    align-items: center;
    height: $header-height;
    left: 0;
    top: 0;
    z-index: 2;
    flex: 1;
    @include screen-size(lg) {
      height: $header-height-lg;
    }
  }
  &__logo {
    flex: 1;
    img {
      width: 125px;
      @include screen-size(lg) {
        width: 155px;
      }
    }
  }
  &__serach-button-container {
    &.is-hide {
      #{$self}__serach-button {
        &.is-close {
          display: none;
        }
      }
    }
    &:not(.is-hide) {
      #{$self}__serach-button {
        &.is-open {
          display: none;
        }
      }
    }
  }
  &__serach-button {
    @include font(sb);
    i {
      margin-left: 0.25em;
    }
  }
  &__keyword-search {
    padding: 10px;
    border-top: color(gray, light) 1px solid;
    background: color(gray, exlight);
    @include screen-size(lg) {
      background: color(white);
      border: 0;
      padding: 0;
    }
  }
  &__menu {
    border-top: color(gray, light) 1px solid;
    @include screen-size(lg) {
      border: 0;
      margin-right: 20px;
    }
  }
  &__search-panel {
    box-shadow: 0 0 2px rgba(0,0,0,0.05);
    position: absolute;
    left: 0;
    top: $header-height;
    z-index: 1;
    background: color(white);
    transition: all 0.5s ease;
    width: 100%;
    border-left: color(gray, light) 1px solid;
    border-right: color(gray, light) 1px solid;
    overflow: hidden;
    @include screen-size(lg) {
      box-shadow: none;
      position: static;
      border: 0;
      width: auto;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      &:before {
        display: none;
      }
    }
    &:before {
      display: block;
      content: "";
      transition: all 0.4s ease;
    }
  }
  &__search-panel {
    &.is-hide {
      visibility: collapse;
      &:before {
        margin-top: -200px;
      }
      @include screen-size(lg) {
        visibility: visible;
      }
    }
  }
  @include screen-size(lg) {
    &__serach-button {
      display: none;
    }
  }
}