.keyword-search {
  display: flex;
  @include screen-size(lg) {
    width: 250px;
  }
  &__field-wrap {
    flex: 1;
    margin-right: 7px;
  }
  &__submit {
    width: 80px;
    .button {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}