.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    @include screen-size(lg) {
      display: block;
    }
  }
  &__item {
    box-sizing: border-box;
    width: 50%;
    border-bottom: 1px solid color(gray, light);

    &:nth-child(2n) {
      border-left: 1px solid color(gray, light);
    }
    @include screen-size(lg) {
      border:0;
      width: auto;
      display: inline-block;
      &:nth-child(2n) {
        border-left:0;
      }
    }
    >a {
      display: flex;
      line-height: 1.3;
      align-items: center;
      padding: 15px 5px;
      @include screen-size(lg) {
        padding: 15px 9px;
      }
    }
  }
  &__icon {
    width: 30px;
    text-align: center;

    &:before {
      font-size: 16px;
    }
  }
  &__main {
    display: block;
    @include font(mb);
  }
  &__sub {
    display: block;
    color: color(gray);
    @include font(ss);
  }
}