.movie {
  $self: &;
  &.is-size-m {
    #{$self} {
      &__inner {
        position: relative;
        display: flex;
        align-items: flex-start;
        @include screen-size(sm) {
          display: block;
        }
      }
      &__thumb {
        width: 120px;
        margin-right: 10px;
        @include screen-size(sm) {
          width: 100%;
          margin-bottom: 5px;
          margin-right: 0;
        }
      }
      &__text {
        flex: 1;
      }
      &__title {
        @include font(mb);
      }
      &__meta {
        color: color(gray);
        @include font(ss);
      }
    }
  }
  &.is-size-l {
    #{$self} {
      &__inner {
        position: relative;
      }
      &__thumb {
        img {
          width: 100%;
        }
      }
      &__text {
        padding-top: 9px;
      }
      &__avatar-title-meta {
        display: flex;
        align-items: center;
      }
      &__avatar {
        width: 40px;
        height: 40px;
        margin-right: 7px;
        margin-left: -2px;
      }
      &__title-meta {
        flex: 1;
      }
      &__title {
        @include font(mb);
      }
      &__meta {
        color: color(gray);
        @include font(ss);
      }
      &__comment {
        margin-top: 3px;
        min-height: 3em * 1.5;
      }
    }
  }
}