.page-head-pr {
  display: block;
  background: {
    image: image-url('newyear_banner_bg.png');
    size: contain;

  };
  text-align: center;
  margin-bottom: 20px;
  img {
    max-width: 707px;
    width: 100%;
  }
  &:hover img {
    opacity: 0.7;
  }
}
