.section-title {
  &__inner {
    display: flex;
    min-height: 27px;
    align-items: center;
    padding: 7px 10px;
    border: {
      width: 1px 0;
      color: color(gray, light);
      style: solid;
    };
    background-color: color(gray, exlight);
  }
  &__title {
    flex: 1;
    @include font(lb);
  }
  &__right-button {}
}