.social {
  &__list {
    display: flex;
    &.is-centerd {
      justify-content: center;
    }
  }
  &__item {
    margin: 0 14px;
    font-size: 22px;
    color: color(gray, light);
    &.is-active {
      color: color(black);
    }
  }
}