@mixin fa($content:"\f071") {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  text-align: right;
  content: "#{$content}";
}
